{% extends 'mainpage/main.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href={% static "article/css/style.css" %} >

{% comment %}
<script src={% static "article/js/hello.js" %}></script>
{% endcomment %}
{% with "article/avatars/"|add:uid|add:".png" as avatar %}
<img src={% static avatar %}>
{% endwith %}
<h1>Все записи {{author}} </h1>
{{all_posts}}
<h2>Первая запись</h2>
<p>"--***{{all_posts.0}}***--"</p>
<ul>
{% for article in all_posts %}
    <li>Запись №{{forloop.counter}}  <b>{{article.dt}}</b>: <em>{{article}}</em> - {{article.text}}</li>
{% endfor %}
</ul>
{% endblock %}
